.PAY.panel #dialog-info-modal
{
    display:none;
}
.ui-dialog
{
    border:0;
    background: none;
    background-color: #fff;
    color: white;
}
.ui-dialog *
{
    color: #333;
}
.ui-dialog-title
{
    color: #3b3b3b;
}
.ui-dialog-titlebar
{
    background:none;
    background-color: #5eba6c;
    border:0;
    border-radius: 0;
}
.PAY.panel .payOption {
    margin-right: 30px;
    display: inline-block;
    width: 350px;
}
.PAY.panel .payOption div.label {
    display: inline-block;
    color: #333;
}
.PAY.panel .payOption.disabled {
    opacity: 0.3;
    cursor: default;
}
.PAY.panel .payOption.disabled * {
    cursor: default;
}
.PAY.panel div.payFields div.labelvalue {
    display: inline-block;
    padding: 4px 7px;
    background-color: transparent;
    border-radius: 4px;
    color: #333;
    margin-right: 30px;
}
.PAY.panel div.payFields div.label {
    display: inline-block;
    padding: 8px;
    background-color: #eaeaea;
    margin-right: 4px;
    margin-left: 0;
    border-radius: 4px;
    color: #272727;
}