.tooltipPAY {
    display: inline-block;
    border-radius: 10px;
    background-color: #e9e9e9;
    padding: 1px 7px;
    color: #282828;
    margin-left: 10px;
    font-size: 10px;
    font-family: Verdana;
    cursor: default;
    position: relative;
    top: 0px;
}

.tooltipPAY .tooltipPAYtext {
    font-family: Verdana;
    visibility: hidden;
    width: 300px;
    background-color: #686868;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 8px 13px;
    position: absolute;
    z-index: 1;
    margin-left: 17px;
    margin-top: -28px;
    font-weight: normal;
    font-size: 11px;
}

.tooltipPAY:hover .tooltipPAYtext {
    visibility: visible;
}

.PAY.panel .card-header {
    padding-bottom: 10px !important;
}

.PAY.panel .card-body {
    padding-top: 0.625rem !important;
}

.PAY.panel .payOption {
    margin-right: 30px;
    display: inline-block;
    min-width: 350px;
}

.PAY.panel .payOption div.label {
    display: inline-block;
    color: #333;
}

.PAY.panel .payOption.disabled {
    opacity: 0.3;
    cursor: default;
}

.PAY.panel .payOption.disabled * {
    cursor: default;
}

.PAY.panel div.payFields div.labelvalue {
    display: inline-block;
    padding: 4px 7px;
    background-color: transparent;
    border-radius: 4px;
    color: #333;
    margin-right: 30px;
}

.PAY.panel div.payFields div.label {
    display: inline-block;
    padding: 8px;
    background-color: #eaeaea;
    margin-right: 4px;
    margin-left: 0;
    border-radius: 4px;
    color: #272727;
}

.FR_Error {
    padding: 15px;
    color: red;
    font-size: 12px;
    display: none;
}

.clearboth {
    clear: both;
}

#FR_Success_Modal .modal-body,
#FR_fail_Modal .modal-body {
    font-size: 20px;
    padding: 25px;
}

#FR_Email {
    width: 100%;
}

#FR_Message {
    height: 250px;
}

#FR_Footer {
    margin-top: 20px;
}

#pay-version-check-test {
    display: inline-block;
    margin-left: 12px;
}

#pay-version-check-result {
    display: none;
    float: left;
    margin-top: 2px;
    color: #363a41;
}

#pay-version-check-current-version {
    padding: 1px 6px;
    border: 0;
    float: left;
    margin-right: 25px;
    color: #363a41;
}

.versionUpToDate {
    color: white !important;
    background-color: #5aa70d;
    font-weight: bold;
    border: 0;
    padding: 5px 9px !important;
    border-radius: 5px;
    position: relative;
    top: -3px;
    margin-bottom: 10px;
}

.version-check {
    font-style: normal;
    font-size: 14px;
}

#pay-version-check {
    margin-top: -5px;
}

.pay-status {
    padding: 2px 6px;
    display: block;
}

.pay-status span {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.pay-status span.pay_connect_success {
    color: #438600;
}

.pay-status span.pay_connect_failure, .pay-status span.pay_connect_failure a {
    color: #dd4242;
}

.pay-status span.pay_connect_empty {
    color: #dd7536;
}

.pay-status span a {
    text-decoration: underline;
}

.bootstrap .prestashop-switch label {
    padding-left: 50px;
}

.bootstrap .prestashop-switch .slide-button {
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
}