.payment-option img[src*="paynlpayment"]
{
    margin-top:0px;
    float: left;
    margin-right: 10px;
    width: 50px;
    cursor: pointer;
    position: relative;
}

.payment-options form.paynl
{
    padding-left: 50px;
    margin-bottom: 40px;
    font-size: 14px;
    padding-top: 5px;
}